<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.couchbase.base</string>
	<key>Description</key>
	<string>This template provides the base for including Couchbase into an application.</string>	
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:ivars</key>
		<string></string>
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:methods</key>
		<string></string>		
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:methods:window</key>
		<string></string>
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:methods:coreData</key>
		<string></string>
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:couchmethods:coreData</key>
		<string>@property (nonatomic, retain, readonly) NSManagedObjectContext *managedObjectContext;
@property (nonatomic, retain, readonly) NSManagedObjectModel *managedObjectModel;
@property (nonatomic, retain, readonly) NSPersistentStoreCoordinator *persistentStoreCoordinator;

- (void)saveContext;
- (NSURL *)applicationDocumentsDirectory;
</string>
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:couchmethods:window</key>
		<string>@property (nonatomic, retain) IBOutlet UIWindow *window;
</string>		
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:couchend</key>
		<string>@end</string>		
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:couchivars</key>
		<dict>
			<key>Beginning</key>
			<string>@interface ___PACKAGENAMEASIDENTIFIER___AppDelegate : NSObject &lt;UIApplicationDelegate, CouchbaseDelegate&gt; {
</string>
			<key>End</key>
			<string>}
</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:applicationdidFinishLaunchingWithOptions:startCouchbase</key>
		<string>CouchbaseEmbeddedServer* cb = [[CouchbaseEmbeddedServer alloc] init];
    cb.delegate = self;

	if (![cb start]) {
        NSLog(@"OMG: Couchbase couldn't start! Exiting! Error = %@", cb.error);
        exit(1);    // Panic!
    }
</string>		
		<key>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:couchbaseDidStart:couchIsReady</key>
		<string>-(void)couchbaseDidStart:(NSURL *)serverURL {
    /*
     Called when Couchbase has finished starting
     */
    NSLog(@"Couch is ready!");
}
		</string>
		<key>Couchbase.framework</key>
		<dict>
			<key>Group</key>
			<string>Frameworks</string>
			<key>Path</key>
			<string>Couchbase.framework</string>
		</dict>								
	</dict>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:import:Couchbase/CouchbaseEmbeddedServer.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:couchivars</string>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:couchmethods:window</string>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.h:couchend</string>		
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:applicationdidFinishLaunchingWithOptions:startCouchbase</string>
		<string>___PACKAGENAMEASIDENTIFIER___AppDelegate.m:couchbaseDidStart:couchIsReady</string>
		<string>Couchbase.framework</string>		
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key> <!-- Create Standart Template:  Select Project Editor then Build Phases. -->
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string> <!-- Add Build Phase Custom Script -->
					<key>Name</key>
					<string>Copy CouchDB</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>rsync -a "${SRCROOT}/${PROJECT_NAME}/Couchbase.framework/CouchbaseResources" "${TARGET_BUILD_DIR}/${UNLOCALIZED_RESOURCES_FOLDER_PATH}"</string>					
				</dict>
			</array>		
			<key>Configurations</key>
			<dict>
				<key>Release</key>
				<dict>
					<key>VALIDATE_PRODUCT</key>
					<string>YES</string>
				</dict>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>Couchbase</string>				
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_LDFLAGS</key>
				<string>-lstdc++</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
